h1 {
    font-family: 'Merriweather', serif;
    margin-top: 50px; 
    text-align: center;
    text-shadow: none;
  }
  .commander{

    margin: 12px;
    padding: auto;
    background-color: blue;
    border-radius: 30%;
    display: inline;

  }
  .btn{
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 5%;

  }


  input{
    color: green;
    border-radius: 30%;
    border-color: chartreuse;
  }
  a{
    color: rgb(22, 179, 48);
    align-content: center;
  }
  .ajoute{
    position: relative;
  }
  #top-3 {
    text-align: center;
  }
  
  .logo {
    width: 30px;
    display: inline-block;
  }
  
  
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .coffee {
    width: 200px;
    height: 200px;
    background-color: #e8d4b4;
    margin: 15px;
    display: inline-block;
    


}


  .coffee img {
    width: 100%;
    border-radius: 50%;
  }
  
.panier-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panier {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 200px;
    z-index: 1;
}

.panier h2 {
    margin-top: 0;
}

.panier ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panier li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
  
  @media all and (max-width: 860px) {
    
    .container {
      width: 500px;
    }
    
  }
  
  @media all and (max-width: 560px) {
    
    .container {
      width: 100%;
    }
    
  }